<%-include("./partials/header")-%>

<body>
    <%-include("./partials/navigation")-%>
  
    <div>
        <h1>Previous ACFT Records</h1>

        <div>
            <ul>
                <li>
                    <div class="dateCol">Date</div>
                    <div class="MDLCol">MDL</div>
                    <div class="SPTCol">SPT</div>
                    <div class="HRPCol">HRP</div>
                    <div class="SDCCol">SDC</div>
                    <div class="PLKCol">PLK</div>
                    <div class="TMRCol">2MR</div>
                </li>
                <% tests.forEach( test => { %>
                    <li data-id="<%= test._id%>">
                        <span class="dateCol">
                            <%= test.date %>
                        </span>
                        <span class="MDLCol">
                            <%= test.MDL %>
                        </span>
                        <span class="SPTCol">
                            <%= test.SPT %>
                        </span>
                        <span class="HRPCol">
                            <%= test.HRP %>
                        </span>
                        <span class="SDCCol">
                            <%= test.SDC %>
                        </span>
                        <span class="PLKCol">
                            <%= test.PLK %>
                        </span>
                        <span class="TMRCol">
                            <%= test.TMR %>
                        </span>
                    </li>
                <% }) %>
            </ul>
        </div>
    </div>
	
  
    <%-include("./partials/footer")-%>
	<script src="js/script.js"></script>
</body>

</html>